.content {
    // padding: 20px;
    .btn-submit {
        border-radius: 10px;
        width: 50%;
        height: 70px;
      }
      .style-item-title{
          padding: 5px 10px;
          align-items: center;
          .title{
              font-size: 16px;
              text-transform: uppercase;
          }
      }
}