@import "../../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .fake-btn {
    width: 100%;
    margin-bottom: 30px;
    height: 130px;
    border-radius: 20px;
    outline-width: 3px;
    outline-style: auto;
    .icon-container {
      height: 100%;
      border-right: solid 3px;
      font-size: 65pt;
      border-radius: 20px 0 0 20px;
      .couche-svg {
        border-radius: 15px !important;
        height: 100%;
      }
    }
  }

  .content-icon {
    border: 1px solid rgb(235 224 224 / 70%);
    border-radius: 10px;
  }
  .cancel {
    margin-right: 1rem;
  }
}
