<div class="home-content">
  <div class="home-bg">
      <!-- <img src="assets/images/home_bg.svg" alt=""> -->
  </div>
  <div class="container">
    <h1>Géoportail de l'assainissement de l'agglomération d'Antananarivo</h1>
    <h5>
      Un portail dédié aux acteurs et aux citoyens pour faciliter la prise
      de décision sur la gestion des eaux urbaines.
    </h5>
  
    <div class="table">
      <div class="row">
        <div class="cell">
          <div class="title">Informer</div>
          <div class="description">
            Le portail offre la possibilité de consulter les documents relatifs à
            l'assainissement de la ville d'Antananarivo.
          </div>
        </div>
        <div class="cell">
          <div class="title">Prévenir</div>
          <div class="description">
            Prévenir les inondation et les glissemnets de terrain en mettant
            chacun au courant des risques.
          </div>
        </div>
        <div class="cell">
          <div class="title">Alerter</div>
          <div class="description">
            En fonction des événements climatiques, un niveau d'alerte est généré
            afin d'informer la population.
          </div>
        </div>
        <div class="cell">
          <div class="title">Se concerter</div>
          <div class="description">
            Le module acteurs permet de facileter la coordination et la
            concertation entre les acteurs.
          </div>
        </div>
        <div class="cell">
          <div class="title">Décider</div>
          <div class="description">
            Aider la prise de décision tout en tenant compte d'une approche
            intégrée est au coeur de la raison d'être de ce portail.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
